
  <div class="tooltip">
    <%= link_to image_tag("logos/admin.png"), admin_dashboard_path if current_admin? %>
    <span class="tooltiptext">Admin Access</span>
  </div>
  <div class="tooltip">
    <%= link_to image_tag("logos/calendaricon.png"), new_user_concert_path(current_user) %>
    <span class="tooltiptext">Set Reminder</span>
  </div>
  <div class="tooltip">
    <%= link_to image_tag("logos/logout.png"), logout_path, method: :delete, data: { confirm: 'Are you sure you want to log out?' } if logged_in? %>
    <span class="tooltiptext" id="nav-logout"><p>Log Out</p></span>
  </div>
