<div class="link">
  <%= link_to "Admin Dashboard", admin_dashboard_path if current_admin? %>
</div>
<div class="link">
  <%= link_to "Create A Recipe", new_user_recipe_path(current_user) %>
</div>
<div class="link">
  <%= link_to "Log Out", logout_path, method: :delete, data: { confirm: 'Are you sure you want to log out?' } if logged_in? %>
</div>
