<section>
  <div class="">
    <h1>Welcome to Idea Box</h1>
  </div>
  <div class="">
    <%= link_to 'Log In', login_path  %>
  </div>
  <div class="">
    <%= link_to 'Create Account', new_user_path %>
  </div>
</section>
