/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body                    {
                        font-family:        Arial, Helvetica, sans-serif;
                        height:             95%;
                        width:              98%;
                        background-image:   url("welcome.jpg");
                        background-repeat:  no-repeat;
                        background-size:    cover;
                        }

html                    {
                        height:             100%;
                        width:              100%;
                        }

input[type=text]        {
                        padding:            3px 5px;
                        margin:             8px 0;
                        box-sizing:         border-box;
                        outline:            none;
                        }

input[type=password]    {
                        padding:            3px 5px;
                        margin:             8px 0;
                        box-sizing:         border-box;
                        outline:            none;
                        }


input[type=text]:focus  {
                        border:             3px solid #555;
                        }

input[type=password]:focus  {
                        border:             3px solid #555;
                        }

a:link                  {
                        text-decoration:    none;
                        }

a:visited               {
                        text-decoration:    none;
                        }

.concert-card-child     {
                        width:              20%;
                        flex-direction:     column;
                        display:            flex;
                        justify-content:    space-between;

                        }

.concert-card-parent    {
                        display:            flex;
                        flex-direction:     row;
                        justify-content:    space-around;
                        width:              100%;
                        height:             400px;
                        }

.concert-image          {
                        width:              300px;
                        display:            flex;
                        justify-content:    space-around;
                        }


.concert-image img      {
                        display:            inline;
                        float:              none;
                        }

.concert-name           {
                        width:              300px;
                        height:             70px;
                        font-size:          25px;
                        }

.flash                  {
                        height:             20px;
                        width:              100%;
                        }

.hidden-text            {
                        display:            none;
                        }
.icon-links             {
                        display:            flex;
                        flex-direction:     column;
                        }


.icon-links:hover .icon-message {
                        display:  block;
                        }

.icon-message          {
                        border:             1px solid #ccc;
                        display:            none;
                        font-size:          12px;
                        margin-top:         10px;
                        padding:            3px;
                        text-align:         center;
                        text-transform:     uppercase;
                        }

.login-logo             {
                        color:              white;
                        text-shadow:        1.5px 1.5px #2d3635;
                        }

.login-logo-text        {
                        font-size:          60px;
                        color:              white;
                        width:              320px;
                        text-shadow:        2px 2px black;
                        }


.nav                    {
                        display:            flex;
                        justify-content:    space-between;
                        height:             40px;
                        vertical-align:     middle;
                        height:             50px;
                        }

.root                   {
                        display:            flex;
                        height:             800px;
                        justify-content:    space-evenly;
                        align-items:        center;
                        }

.session-form-elements  {
                        display:            flex;
                        height:             50px;
                        width:              400px;
                        justify-content:    space-between;
                        align-items:        center;
                        font-size:          20px;
                        color:              white;
                        }

.session-form-elements #session_email, #session_password
                        {
                        margin-right:       20px;
                        width:              200px;
                        }

.session-form-elements a
                        {
                        margin-right:       20px;
                        }



.session-form-elements label, p
                        {
                        margin-left:        20px;
                        }

.session-form-elements a:visited
                        {
                        color:              white;
                        }

.show                   {
                        display:            flex;
                        flex-direction:     column;
                        justify-content:    space-between;
                        height:             100%;
                        }

.table                  {
                        border-collapse:    collapse;
                        width:              100%;
                        }

.table td, .table th    {
                        border:             1px solid #ddd;
                        }

.table th               {
                        text-align:         center;
                        background-color:   #999966;
                        color:              white;
                        }

.user-show-header       {
                        font-size:          50px;
                        height:             160px;
                        width:              100%;
                        display:            flex;
                        flex-direction:     row;
                        justify-content:    space-between;
                        }

.welcome-link           {
                        font-size:          800%;
                        color:              white;
                        align-items:        center;
                        }

#login-logo-div         {
                        display:            flex;

                        justify-content: space-around;
                        }


#nav-link               {
                        display:            flex;
                        flex-direction:     row;
                        font-size:          20px;
                        justify-content:    space-between;
                        flex-grow:          2;
                        position:           relative;
                        float:              left;
                        width:              100px;
                        height:              100px;
                        background-position: 50% 50%;
                        background-repeat:   no-repeat;
                        background-size:     cover;
                        }

#nav-link .link         {
                        text-align:         center;
                        vertical-align:     middle;
                        line-height:        200px;
                        // display:            flex;
                        // flex-direction:     row;
                        // font-size:          30px;
                        // justify-content:    space-around;
                        // flex-grow:          2;
                        }

#no-matches             {
                        height:             400px;
                        font-size:          30px;
                        }


#pagination             {
                        height:             34px;
                        width:              100%;
                        }


#root-logo              {
                        height:             200px;
                        width:              700px;
                        display:            flex;
                        align-items:        center;
                        justify-content:    center;
                        text-shadow:        3px 3px #2d3635;
                        border-style:       solid;
                        border-width:       4px;
                        border-color:       white;
                        }

#session-form-button
                        {
                        height:             100px;
                        width:              400px;
                        display:            flex;
                        justify-content:    space-around;
                        align-items:        center;
                        align-self:         stretch;
                        }


#session-form-button input
                        {
                        height:             50px;
                        width:              100px;
                        background-color:   black;
                        border-radius:      15px;
                        border-color:       black;
                        color:              white;
                        font-size:          15px;
                        font-weight:        bold;
                        }



// #session-form-button    {
//                         height:             50px;
//                         width:              50px;
//                         }



#session-new-box        {
                        border:             5px solid black;
                        border-radius:      25px;
                        height:             500px;
                        width:              400px;
                        display:            flex;
                        flex-direction:     column;
                        justify-content:    space-around;
                        opacity:            .6;
                        background-color:   #8e8a8b;
                        }

#session-new-right      {
                        height:             400px;
                        width:              400px;
                        background-image:   url("plant.jpeg");
                        background-repeat:  no-repeat;
                        background-size:    cover;
                        }

#session-new-page       {
                        width:              100%;
                        height:             100%;
                        display:            flex;
                        flex-direction:     row;
                        justify-content:    center;
                        align-items:        center;
                        }

#session-new-form       {
                        height:             300px;
                        width:              300px;
                        display:            flex;
                        flex-direction:     column;
                        }

#show-logo              {
                        text-align:         center;
                        vertical-align:     middle;
                        line-height:        200px;
                        flex-grow:          1;
                        }

#table-header           {
                        height: 30px;
                        }

#table-header th        {

                        }
