/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body                    {
                        font-family:        Arial, Helvetica, sans-serif;
                        height:             100%;
                        width:              100%;
                        }

html                    {
                        height:             100%;
                        width:              100%;
                        }

input[type=text]        {
                        padding:            3px 5px;
                        margin:             8px 0;
                        box-sizing:         border-box;
                        outline:            none;
                        }

input[type=password]    {
                        padding:            3px 5px;
                        margin:             8px 0;
                        box-sizing:         border-box;
                        outline:            none;
                        }


input[type=text]:focus  {
                        border:             3px solid #555;
                        }

input[type=password]:focus  {
                        border:             3px solid #555;
                        }

body.welcome            {
                        background-image:   url("welcome.jpg");
                        background-repeat:  no-repeat;
                        background-size:    cover;
                        color:              white;
                        }

body.sessions           {
                        background-color:   #829191;
                        }


a:link                  {
                        text-decoration:    none;
                        }

a:visited               {
                        text-decoration:    none;
                        }

.concert-card-child     {
                        width:              20%;
                        height:             80%;

                        }

.concert-card-parent    {
                        display:            flex;
                        flex-direction:     row;
                        justify-content:    space-around;
                        height:             100%;
                        width:              100%;
                        }
.concert-image          {
                        height:             300px;
                        width:              300px;
                        float:              center;
                        display:            flex;
                        justify-content:    space-around;
                        }


.concert-image img      {
                        display:            inline;
                        float:              none;

                        }

.flash                  {
                        height:             30px;
                        width:              250px;
                        }

.nav                    {
                        display:            flex;
                        justify-content:    space-between;
                        height:             40px;
                        vertical-align:     middle;
                        height:             50px;
                        }

.root                   {
                        display:            flex;
                        height:             800px;
                        justify-content:    space-evenly;
                        align-items:        center;
                        }

.show                   {
                        display:            flex;
                        flex-direction:     column;
                        justify-content:    space-between;
                        height:             100%;
                        }

.table                  {
                        border-collapse:    collapse;
                        width:              100%;

                        }

.table td, .table th    {
                        border:             1px solid #ddd;
                        }

.table tr               {

                        }

.table td               {

                        }



.table th               {

                        text-align:         center;
                        background-color:   #999966;
                        color:              white;
                        }

.user-show-header       {
                        font-size:          40px;
                        height:             100px;
                        }

.welcome-link           {
                        font-size:          800%;
                        color:              white;
                        align-items:        center;
                        }

#login-logo-div         {
                        display:            flex;
                        justify-content:    space-around;
                        }

#login-logo             {
                        color:              white;
                        font-size:          200%;
                        text-shadow:        1.5px 1.5px #2d3635;

                        }


#session-new-left       {
                        height:             400px;
                        width:              400px;
                        display:            flex;
                        flex-direction:     column;
                        justify-content:    space-around;
                        }

#session-new-right      {
                        height:             400px;
                        width:              400px;
                        background-image:   url("plant.jpeg");
                        background-repeat:  no-repeat;
                        background-size:    cover;
                        }

#root-logo              {
                        height:             200px;
                        width:              600px;
                        display:            flex;
                        align-items:        center;
                        justify-content:    center;
                        text-shadow:        3px 3px #2d3635;
                        border-style:       solid;
                        border-width:       4px;
                        border-color:       white;
                        }

#session-new            {
                        display:            flex;
                        flex-direction:     row;
                        justify-content:    space-around;
                        align-self:         center;
                        }

#session-new-form       {
                        height:             300px;
                        width:              300px;
                        display:            flex;
                        flex-direction:     column;
                        }

#table-header           {
                        height: 30px;
                        }

#table-header th        {

                        }
