<div class="">
  <%= link_to "Back", new_user_recipe_path(current_user) %>
</div>
<div class="">
  <% @images.each do |image| %>
    <div class="">
      <section>
        <%= image_tag image.image.url unless image.image.url.nil? %>
      </section>
      <section>
        <%= image.name %>
      </section>
    </div>
  <% end %>
</div>
