<section id="image-index">
  <div id="image-index-button">
    <%= link_to "Back", new_user_concert_path(current_user) %>
  </div>
  <div id="image-index-area">
    <% @images.each do |image| %>
      <section id="image">
        <%= image_tag image.image.url unless image.image.url.nil? %>
      </section>
    <% end %>
      <section>
        <%= will_paginate @images %>
      </section>
  </div>
</section>
